<div class="container-fluid">
<h1 class="pt-7"><%= @place.name %></h1>


<div class="row">
<div class="col-sm-3">
<% if @current_user %>
<h5 class=text-info>My Posts</h5>
<% for post in @place.posts.where({user_id: @current_user.id}) %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <p><%= post.description %></p>
<% end %>
</div>

<div class="row">
<div class="col-sm-3">
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</div>
</div>

<div class="row">
<div class="col-sm-3">
  <a href="/places">Back to All Places</a>
</div>
</div>

<% end %>
</div>